nav {

  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    width: 1024px;
    margin: 0 auto 20px auto;

    li {
      width: 150px;

      a {
        font-size: 1.1em;

        cursor: pointer;
      }
    }

    :first-child {
      margin-right: auto;
    }


  }

}
