body {
  font-family: "Oswald", "Courier New", monospace;
}

a, p, h2, h3{
  color: #333;
}

a {
  text-decoration: none;
  color: #636363;
}

a:hover{
  color: #333;
}

body nav a {
  font-size: 1em;
  width: 100px;
}

.page{
  width: 1024px;
  margin: auto;
}

